link(rel='import', href='../../../bower_components/polymer/polymer.html')

dom-module#kt-expression-view
  template
    span.children
    template(is='dom-if', if='{{showAddInstanceButton}}')
      button.add-instance(on-up='_addInstance')