link(rel='import', href='../../../bower_components/polymer/polymer.html')

dom-module#kt-literal-view
  style.
    :host {
      //- display: flex;
      align-items: flex-start;
    }

    ::content .newline {
      display: block;
      background-color: green;
    }

    ::content .tab {
      display: inline-block;
      width: 2em;
    }
  template
    span.text {{text}}