link(rel='import', href='../../../bower_components/polymer/polymer.html')

dom-module#kt-text-cell
  style.
    .text {
      font-family: 'Input', sans-serif;
      white-space: pre;
    }
  template
    span.text#text {{display}}