doctype html
html(lang="en")
  head
    title keytree
    meta(charset='UTF-8')
    meta(name="viewport",
         content="width=device-height, \
                  initial-scale=1, \
                  user-scalable=no")
    script(src='../bower_components/webcomponentsjs/webcomponents-lite.js')
    link(rel='import', href='../bower_components/polymer/polymer.html')
    link(rel='import', href='../bower_components/text-tree/build/text-root.html')
    link(rel='import', href='../bower_components/flower-picker/build/flower-picker.html')

    link(rel='stylesheet', href='style.css')
  body(unresolved)
    #container
      #overlay
        flower-picker#picker(radius="100",
                             on-selected="handleSelected",
                             stay-within="container")
      #app
        text-root#tree
        div: button#render Render
    script(src='scripts/app.js')