doctype html
html(lang="en")
  head
    title keytree
    meta(charset='UTF-8')
    meta(name="viewport",
         content="initial-scale=0.7, \
                  user-scalable=no")
    script(src='../bower_components/webcomponentsjs/webcomponents-lite.js')
    link(rel='import', href='../bower_components/polymer/polymer.html')
    link(rel='import', href='KeyTree.html')

    style.
      body {
        background-color: rgba(180, 90, 90, 1);
      }
  body(unresolved)
    key-tree