$picker-font-size: 12pt;
$code-font-size: 14pt;

@mixin user-select($option) {
  user-select: $option;
  -moz-user-select: $option;
  -webkit-user-select: $option;
  -ms-user-select: $option;
}

body {
  background-color: rgba(100, 100, 100, 1);
}

#container {
  display: flex;
  display: -webkit-flex;
  height: 100vh;

  #overlay {
    @include user-select(none);

    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #picker {
      // pointer-events: none;
      width: 100%;
      height: 100%;

      font-family: 'Source Code Pro', monospace;
      font-size: $picker-font-size;

      .petal, .pistil {
        box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
      }

      .petal {
        text-align: center;
      }
    }
  }

  #app {
    margin: auto;
    height: 50%;

    .node {
      display: inline-block;

      margin: 2px 1px;
      padding: 2px 4px;

      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.1);

      white-space: pre-wrap;
      tab-size: 30px;
      font-family: 'Source Code Pro', monospace;
      font-size: $code-font-size;
      color: #333;

      transition: all 0.1s ease;

      span {
        vertical-align: middle;
      }
    }

    .active-node {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .hole {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
    }

    .empty {
      color: #666;
    }

    // .empty:after {
    //   content: '_';
    //   visibility: hidden;
    // }

  }
}